.registerCont {
    position: relative;
    /* background-color: #fcd450; */
    height: 100vh;
  }
  .registerSubCont {
    width: 37%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(25, 25, 25);
    background-color: white;
    padding: 10vh 5vh;
    border-radius: 5px;
    box-shadow: 4px 2px 25px 5px rgba(0, 0, 0, 0.136);
  }
  